.head{
	background-color: gray;
	width: 353px;
	height: 391px;
	margin: auto;

}
.content{
	width: 350px;
	height: 388px;
	background-color: black;
position: relative;
	margin: auto;
	margin-top: 105px;
	border-radius: 5px;
}
.header{
	width: 300px;
	height: 55px;
	background-color: #B18904; 
	position: absolute;
	top: 20px;
	left: 20px;
	border-radius: 5px;
}
.nut1{
	width: 67px;
	height: 55px;
	background-color: #fff;
	position: absolute;
	border-radius: 5px;
	text-align: center;
	top: 100px;
	left: 20px;
	
	font-size: 18px;
}
.nut2{
	width: 67px;
	height: 55px;
	background-color: #fff;
	position: absolute;
	border-radius: 5px;
	text-align: center;
	top: 100px;
	left: 100px;
	
	font-size: 18px;
}
.nut3{
	width: 67px;
	height: 55px;
	background-color: #fff;
	position: absolute;
	border-radius: 5px;
	text-align: center;
	top: 100px;
	left: 180px;
	
	font-size: 18px;
}
.nutcong{
	width: 67px;
	height: 55px;
	background-color: #fff;
	position: absolute;
	border-radius: 5px;
	text-align: center;
	top: 100px;
	left: 260px;
	
	font-size: 18px;
	background-color: #58FAF4;
}
.nut4{
width: 67px;
	height: 55px;
	background-color: #fff;
	position: absolute;
	border-radius: 5px;
	text-align: center;
	top: 171px;
	left: 20px;
	
	font-size: 18px;
}
.nut5{
width: 67px;
	height: 55px;
	background-color: #fff;
	position: absolute;
	border-radius: 5px;
	text-align: center;
	top: 171px;
	left: 100px;
	
	font-size: 18px;
}
.nut6{
width: 67px;
	height: 55px;
	background-color: #fff;
	position: absolute;
	border-radius: 5px;
	text-align: center;
	top: 171px;
	left: 180px;
	
	font-size: 18px;
}
.nuttru{
	width: 67px;
	height: 55px;
	background-color: #fff;
	position: absolute;
	border-radius: 5px;
	text-align: center;
	top: 171px;
	left: 260px;
	
	font-size: 18px;
	background-color: #58FAF4;
}
.nut7{
width: 67px;
	height: 55px;
	background-color: #fff;
	position: absolute;
	border-radius: 5px;
	text-align: center;
	top: 243px;
	left: 20px;
	
	font-size: 18px;
}
.nut8{
	width: 67px;
	height: 55px;
	background-color: #fff;
	position: absolute;
	border-radius: 5px;
	text-align: center;
	top: 243px;
	left: 100px;
	
	font-size: 18px;
}
.nut9{
	width: 67px;
	height: 55px;
	background-color: #fff;
	position: absolute;
	border-radius: 5px;
	text-align: center;
	top: 243px;
	left: 180px;
	
	font-size: 18px;
}
.nutnhan{
	width: 67px;
	height: 55px;
	background-color: #fff;
	position: absolute;
	border-radius: 5px;
	text-align: center;
	top: 243px;
	left: 260px;
	background-color: #58FAF4;
	
	font-size: 18px;
}
.nutc{
width: 67px;
	height: 55px;
	background-color: #fff;
	position: absolute;
	border-radius: 5px;
	text-align: center;
	top: 317px;
	left: 20px;
	
	font-size: 18px;
	background-color: #F7819F;
}
.nut0{
width: 67px;
	height: 55px;
	background-color: #fff;
	position: absolute;
	border-radius: 5px;
	text-align: center;
	top: 317px;
	left: 100px;
	
	font-size: 18px;
}
.nutbang{
width: 67px;
	height: 55px;
	background-color: #fff;
	position: absolute;
	border-radius: 5px;
	text-align: center;
	top: 317px;
	left: 180px;
	
	font-size: 18px;
}
.nutchia{
	width: 67px;
	height: 55px;
	background-color: #fff;
	position: absolute;
	border-radius: 5px;
	text-align: center;
	top: 317px;
	left: 260px;
	background-color: #58FAF4;
	font-size: 18px;
}